{% extends "inicio.html" %}
{% block titulo %} <h1>Crear Curso<span>.</span></h1> {% endblock %}

{% block Acerca %}



<br>
<div class="container section-header">
    <h1> Crear estudiante </h1>
<div class="section-header">
<form  action="crear_curso.html" method="post" > {% csrf_token  %}
    <p> Nombre:  <input type ="text" name="nombre" class="form-control"> </p>
    <p>Comision:  <input type ="number" name="comision" class="form-control"> </p>
    <input type="submit" value="Enviar" class="btn-getstarted scrollto">
    </form>

</div>
</div>
{% endblock %}