{% extends "inicio.html" %}
{% block titulo %} <h1>Crear Estudiantes<span>.</span></h1> {% endblock %}

{%block menu %} 
<li class="dropdown"><a href="./inicio.html"><span>Inicio</span> <i class="bi"></i></a>
</li>

<li><a class="nav-link scrollto" href="./inicio.html#about">Acerca </a></li>
<li><a class="nav-link scrollto" href="./inicio.html#team">Equipo</a></li>
<li><a class="nav-link scrollto" href="./inicio.html#contact">Contacto</a></li>
<li><a class="nav-link scrollto" href="./crear_curso.html#about2">Crear Cursos</a></li>
<li><a class="nav-link scrollto" href="./ver_curso.html#about3">Ver Cursos</a></li>
<li><a class="nav-link scrollto" href="./crear_estudiante.html">Crear estudiantes</a></li>
<li><a class="nav-link scrollto" href="./ver_estudiante.html">Ver estudiantes</a></li>
</ul>
<i class="bi bi-list mobile-nav-toggle d-none"></i>
</nav><!-- .navbar -->

<a class="btn-getstarted scrollto" href="./inicio.html#about">Inicio de recorrido</a>
{% endblock %}

{% block Acerca %}



<br>
<div class="container section-header" id="about2">
    <h1> Crear estudiantes </h1>
<div class="section-header">
<form  action= "" method="post" > {% csrf_token  %}
    <table >

        {{form1.as_table}}
        
    </table>
    <input type="submit" value="Enviar" class="d-flex align-items-center" id="BotonAlerta"> 
    </form>

</div>
</div>
{% endblock %}