{% extends "inicio.html" %}
{% block titulo %} <h1>Ver cursos<span>.</span></h1> {% endblock %}

{%block menu %} 
<li class="dropdown"><a href="./inicio.html"><span>Inicio</span> <i class="bi"></i></a>
</li>

<li><a class="nav-link scrollto" href="./inicio.html#about">Acerca </a></li>
<li><a class="nav-link scrollto" href="./inicio.html#team">Equipo</a></li>
<li><a class="nav-link scrollto" href="./inicio.html#contact">Contacto</a></li>
<li><a class="nav-link scrollto" href="./crear_curso.html#about2">Crear Cursos</a></li>
<li><a class="nav-link scrollto" href="./ver_curso.html#about3">Ver Cursos</a></li>
<li><a class="nav-link scrollto" href="./crear_estudiante.html">Crear estudiantes</a></li>
<li><a class="nav-link scrollto" href="./ver_estudiante.html">Ver estudiantes</a></li>
</ul>
<i class="bi bi-list mobile-nav-toggle d-none"></i>
</nav><!-- .navbar -->

<a class="btn-getstarted scrollto" href="./inicio.html#about">Inicio de recorrido</a>
{% endblock %}

{% block Acerca %}



<br>
<div id= about3 class="container section-header">
    <h1> Lista de estudiantes </h1> <br>
<div class="section-header">
<form  action= "" method="post" > {% csrf_token  %}

    {% for estudiantes in estudiantes %}

    <p> Nombre: {{estudiantes.nombre}}</p>
    <p> apellido {{estudiantes.apellido}}</p>
    <p> Email {{estudiantes.email}}</p>
    <br>

    {% endfor %}

    </form>

</div>
</div>
{% endblock %}